* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2e0994;
    padding: 25px
}

.tab {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 700;
    font-size: .88rem;
    padding: 14px 22px;
    border-radius: 6px;
    color: #fff ;
    background: transparent;
    border: 2px solid rgba(151,175,213,0.3);
    text-decoration: none;
    transition-property: border, color;
    transition-duration: .3s;
    transition-timing-function: linear;
}

.tab::before {
    color: #f42f54;
    border-color: #f42f54;
}

.tab::before {
    color: #f42f54;
    border-color: #f42f54;
}