<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    
    <div class="tokens-type _purple">
        <h4 class="tokens-type__title">START TIME</h4>
        <div class="tokens-type__value">15 Sep, 2018</div>
    </div>

    <div class="tokens-type _red">
        <h4 class="tokens-type__title">START TIME</h4>
        <div class="tokens-type__value">15 Sep, 2018</div>
    </div>

    <div class="tokens-type _yellow">
        <h4 class="tokens-type__title">START TIME</h4>
        <div class="tokens-type__value">15 Sep, 2018</div>
    </div>

    <div class="tokens-type _blue">
        <h4 class="tokens-type__title">START TIME</h4>
        <div class="tokens-type__value">15 Sep, 2018</div>
    </div>

    <div class="tokens-type _pink">
        <h4 class="tokens-type__title">START TIME</h4>
        <div class="tokens-type__value">15 Sep, 2018</div>
    </div>

</body>
</html>