* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1603bb;
    padding: 20px;
}

.tokens-type {
    position: relative;
    padding: 0 25px;
    max-width: 270px;
    width: 100%;
    margin-bottom: 50px;
}

.tokens-type::before {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    content: '';
    border-radius: 2px;
}

.tokens-type._purple::before {
    background: #a963ff;
}

.tokens-type._red::before {
    background: #f42f54;
}

.tokens-type._yellow::before {
    background: #f5a946;
}

.tokens-type._blue::before {
    background: #63a5ff;
}

.tokens-type._pink::before {
    background: #ff8d87;
}


.tokens-type__title {
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 4px;
    color: #97afd5;
    font-family: "Roboto", sans-serif;
}

.tokens-type__value {
    color: #fff;
    line-height: 1.3;
    font-weight: 700;
    font-family: "Quicksand", sans-serif;
}

