* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1d44c2;
}

.documents{
    padding: 120px 0;
}

.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    font-weight: 700;
    color: #fff;
    font-size: 48px;
    line-height: 1.3;
    font-family: "Roboto", sans-serif;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.documents__header {
    margin-bottom: 10px;
}

.documents__sub-header {
    position: absolute;
    z-index: -1;
    opacity: 0.06;
    font-size: 111px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: "Roboto", sans-serif;
    line-height: .9;
    text-transform: uppercase;
    white-space: nowrap;
    color: #202b47;   
}

.documents__description{
    color: #97afd5;
    font-size: 16px;
    text-align: center;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    max-width: 50%;
    margin: 0 auto;
}

.documents-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.documents-list__block {
    max-width: 255px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    position: relative;
}

.documents-list__block::before{
    position: absolute;
    z-index: -1;
    content: '';
    background-image: url(assets/polygon-a-light.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 255px;
    height: 245px;
    top: -20%;
    left: 0;
    transition: transform .3s linear;
}

.documents-list__block:last-child:before{
    left: 55%;
    transform: translateX(-50%) rotate(135deg);
}

.documents-list__block:hover:last-child:before{
    transform: scale(1.1) translateX(-50%) rotate(135deg);
}

.documents-list__block:nth-child(5n - 2):before{
    left: 56%;
    transform: translateX(-50%) rotate(70deg);
}

.documents-list__block:hover:nth-child(5n - 2):before{
    transform: scale(1.1) translateX(-50%) rotate(70deg);
}

.documents-list__block:nth-child(3n + 2):before{
    left: 50%;
    transform: translateX(-50%) rotate(-90deg);
}

.documents-list__block:hover:nth-child(3n + 2):before{
    transform: scale(1.1) translateX(-50%) rotate(-90deg);
}

.documents-list__block:hover::before{
    transform: scale(1.1);
}

.documents-list__block:hover .documents-list__image {
    transform: translateY(-10px);
}

.documents-list__image {
    width: 175px;
    height: 237px;
    margin-bottom: 20px;
    border-radius: 5%;
    transition: transform .3s linear;
}

.documents-list__title {
    color: #fff;
    line-height: 1.3;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    margin-bottom: 2px;
}

.documents-list__year {
    color: #fff;
    font-weight: 100;
    font-family: "Roboto", sans-serif;
    margin-bottom: 15px;
}

.documents-list__link-wrapper {
    margin-bottom: 15px;
}

.documents-list__link {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-size: 18px;
    line-height: 19px;
    padding: 8px 15px;
    border-radius: 4px;
    color: #fff;
    background: #f42f54;
    transition-property: color, background-color;
    transition-duration: .3s;
}

.documents-list__link:hover {
    background-color: #fff;
    color: #f42f54;
}

.documents-list__language {
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
    font-weight: 300;
    color: #97afd5;
}