* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #121333; 
}

h2{
    font-weight: 700;
    color: #fff;
    font-size: 42px;
    line-height: 1.3;
    font-family: "Roboto", sans-serif;
    position: relative;
    text-align: center;
}

h2:before{
    opacity: 0.2;
    font-size: 96px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    content: 'PRESS';
    font-family: "Roboto", sans-serif;
    line-height: .9;
    text-transform: uppercase;
    white-space: nowrap;
    color: #202b47;
}

.in-press {
    width: 480px;
    height: 632px;
    padding: 40px 10px;
}

.news__header {
    padding-bottom: 60px;
}

.news__content {
    width: 450px;
    height: 396px;
}