* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #121333; 
}

.header {
    padding: 12px;
    font-weight: 700;
    color: #fff;
    font-size: 48px;
    line-height: 1.3;
    font-family: "Roboto", sans-serif;
    position: relative;
    text-transform: uppercase;
    text-align: center;
}

.header__sub-header {
    position: absolute;
    z-index: -1;
    opacity: 0.06;
    font-size: 111px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: "Roboto", sans-serif;
    line-height: .9;
    text-transform: uppercase;
    white-space: nowrap;
    color: #202b47;   
}

.in-press {
    max-width: 480px;
    height: 632px;
    padding: 40px 10px;
}

.in-press__header {
    padding-bottom: 60px;
}

.in-press__content {
    max-width: 450px;
    height: 396px;
}

.in-press__wrapper {
    max-width: 450px;
    height: 270px;
}

.in-press__list {
    text-align: center;
    list-style-type: none;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    width: 4px;
    height: 270px;
}

.in-press__picture {
    width: 113.3px;
    height: 30px;
}

.in-press__btn {
    background-color: #121333;
    color: #97afd5;
    font-size: 18px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: 1px solid #97afd5;
    margin:0 10px;
    position: static;
}

.in-press__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.swiper-button-prev::after, .swiper-button-next::after{
    content: "";
}
