*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #121333; 
}

.header {
    padding: 12px;
    font-weight: 700;
    color: #fff;
    font-size: 48px;
    line-height: 1.3;
    font-family: "Roboto", sans-serif;
    position: relative;
    text-transform: uppercase;
    text-align: center;
}

.header__sub-header {
    position: absolute;
    z-index: -1;
    opacity: 0.06;
    font-size: 111px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: "Roboto", sans-serif;
    line-height: .9;
    text-transform: uppercase;
    white-space: nowrap;
    color: #202b47;   
}

.road-map-wrapper {
    width: 1140px;
    margin: 0 auto;
    padding: 120px 0;
}

.road-map-header {
    width: 540px;
    margin: 0 auto;
}

.road-map-header__description{
    text-align: center;
    font-family: "Quicksand", sans-serif;
    line-height: 1.3;
    position: relative;
    font-size: 16px;
    color: #97afd5;
    font-weight: 700;
    margin-top: 24px;
    visibility: visible;
    animation-delay: 0.1s;
}

.road-map-content {
    padding: 40px 0 10px;
    margin-bottom: 60px;
}

.road-map-content__progress-bar {
    width: 100%;
    height: 236px;
}

.road-map-content__btn__buttons {
    display: flex;
    justify-content: center;
}

.road-map-content__btn {
    background-color: #121333;
    color: #97afd5;
    font-size: 18px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: 1px solid #97afd5;
    margin:0 10px;
}

.road-map-content__btn_inactive {
    opacity: 0.4;
}

.road-map-content__btn_inactive:hover{
    cursor: default;
}

.road-map-content__btn_active:hover {
    cursor: pointer;
}

.road-map-content .swiper-button-prev::after, .road-map-content .swiper-button-next::after {
    display: none;
}

.road-map-content .swiper-button-prev, .road-map-content .swiper-button-next {
    display: flex;
    position: static;
}

.road-map-content__list {
    list-style-type: none;
    width: 100%;
}

.road-map-content__item {
    max-width: 263px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.road-map-content__item:first-child + .road-map-content__item::after {
    content: '';
    position: absolute;
    z-index: -1;
    background: #97afd569;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    top: 19%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.road-map-content__title, .road-map-content__date {
    color: #fff;
    line-height: 1.3;
    font-size: 18px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    margin-bottom: 20px;
}

.road-map-content__report {
    color: #97afd5;
    font-size: 16px;
    text-align: center;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

.road-map-content__road {
    background: #97afd5;
    width: 100%;
    height: 4px;
    margin-bottom: 20px;
    position: relative;
}

.road-map-content__road::after {
    content: '';
    position: absolute;
    background: #0f1932;
    border: 3px solid #dbe4f7;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.road-map-content__item:first-child .road-map-content__road::before {
    content: '';
    position: absolute;
    background: #f42f54;
    width: 100%;
    height: 4px;
}

.road-map-content__item:first-child .road-map-content__road::after {
    background: #f42f54;
    border: 3px solid #fff;
}

.road-map-content__item:first-child + .road-map-content__item .road-map-content__road::after {
    background: #f42f54;
    border: 3px solid #fff;

}

.road-map-content__item:first-child + .road-map-content__item .road-map-content__road::before {
    content: '';
    position: absolute;
    background: #f42f54;
    width: 50%;
    height: 4px;
}
