*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #121333; 
}

h2{
    font-weight: 700;
    color: #fff;
    font-size: 42px;
    line-height: 1.3;
    font-family: "Roboto", sans-serif;
    position: relative;
    text-align: center;
}

h2:before{
    opacity: 0.2;
    font-size: 124px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    content: 'TIMELINE';
    font-family: "Roboto", sans-serif;
    line-height: .9;
    text-transform: uppercase;
    white-space: nowrap;
    color: #202b47;
}

.road-map-wrapper {
    width: 1140px;
    margin: 0 auto;
    padding: 120px 0;
}

.road-map-header {
    width: 540px;
    margin: 0 auto;
}

.road-map-header__description{
    text-align: center;
    font-family: "Quicksand", sans-serif;
    line-height: 1.3;
    position: relative;
    font-size: 16px;
    color: #97afd5;
    font-weight: 700;
    margin-top: 24px;
    visibility: visible;
    animation-delay: 0.1s;
}

.road-map-content {
    padding: 40px 0 10px;
    margin-bottom: 60px;
}

.road-map-content__progress-bar {
    width: 100%;
    height: 236px;
}

.road-map-content__slider-buttons {
    padding-top: 40px;  
    text-align: center;
}

.road-map-content__btn {
    background-color: #121333;
    color: #97afd5;
    font-size: 18px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: 1px solid #97afd5;
    margin:0 10px;
}

.road-map-content__buttons {
    text-align: center;
}

.road-map-content__btn_inactive {
    opacity: 0.4;
}

.road-map-content__btn_inactive:hover{
    cursor: default;
}

.road-map-content__btn_active:hover {
    cursor: pointer;
}
