* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2850d3;
}

.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.platform {
    padding: 120px 0;
}

.header {
    padding: 12px;
    font-weight: 700;
    color: #fff;
    font-size: 48px;
    line-height: 1.3;
    font-family: "Roboto", sans-serif;
    position: relative;
    text-transform: uppercase;
    text-align: center;
}

.platform__header {
    margin-bottom: 65px;
}

.header__sub-header {
    position: absolute;
    z-index: -1;
    opacity: 0.06;
    font-size: 111px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: "Roboto", sans-serif;
    line-height: .9;
    text-transform: uppercase;
    white-space: nowrap;
    color: #202b47;   
}

.platform__complex-tabs {
    margin: 0 auto 48px;
}

.complex-tabs {
    display: flex;
    flex-direction: row;
    width: 700px;
    height: 49px;
    position: relative;
}

.complex-tabs::after {
    content: "";
    text-align: inherit;
    width: 280px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-39.5%, -50%);
    border: 1px solid rgba(151,175,213,0.3);;
}

.complex-tabs__participators {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 700;
    font-size: 14px;
    padding: 14px 22px;
    border-radius: 6px;
    background-color: transparent;
    border: 2px solid rgba(151,175,213,0.3);
    color: #fff;

    position: absolute;
    left: 0;

}

.complex-tabs__traders {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 700;
    font-size: 14px;
    padding: 14px 22px;
    border-radius: 6px;
    background-color: transparent;
    border: 2px solid rgba(151,175,213,0.3);
    color: #fff;

    position: absolute;
    right: 0;
}

.complex-tabs__participators:hover, .complex-tabs__traders:hover {
        cursor: pointer;
        color: #f42f54;
        background: transparent;
        border-color: #f42f54;
        transition: 0.3s ease-in-out;
}

.platform__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.platform__list-block{
    max-width: 454px;
    width: 100%;
}

.platform__list-title {
    color: #fff;
    font-size: 24px;
    line-height: 1.3;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    margin-bottom: 10px;
}

.platform__list-subtitle {
    margin-bottom: 20px;
    position: relative;
    color: #97afd5;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

.mvp-list {
    list-style-type: none;
}

.mvp-list__item {
    margin-bottom: 30px;
    padding-left: 52px;
    position: relative;
    color: #97afd5;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

.mvp-list__item:last-child {
    margin-bottom: 0;
}

.mvp-list__item::before {
    position: absolute;
    content: '';
    background-image: url(assets/check.png);
    background-size: cover;
    width: 32px;
    height: 32px;
    top: 0;
    left: 0;
}

.platform__wrapper-rounds {
    padding: 107px 65px; 
}

@keyframes first_round {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}

@keyframes second_round {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(-180deg);}
    100% {transform: rotate(-360deg);}
}

.animate-rounds {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animate-rounds::before {
    position: absolute;
    content: '';
    width: 400px;
    height: 400px;
    border: 4px solid rgba(151,175,213,0.15);
    border-radius: 50%;
    border-bottom: 4px solid #fff;
    border-top: 4px solid #fff;
    animation: first_round 30s linear infinite 0s;
    z-index: -1;
}

.platform__animate-rounds::before {
    width: 419px;
    height: 419px;
}

.animate-rounds::after {
    position: absolute;
    content: '';
    width: 300px;
    height: 300px;
    border: 4px solid rgba(151,175,213,0.15);
    border-radius: 50%;
    border-right: 4px solid #fff;
    border-left: 4px solid #fff;
    animation: second_round 30s linear infinite 0s;
    z-index: -1;
}

.platform__animate-rounds::after {
    width: 319px;
    height: 319px;
}

.animate-rounds._pink::after {
    border-right: 4px solid #f42f54;
    border-left: 4px solid #f42f54;
}

.animate-rounds._pink::before {
    border-bottom: 4px solid #f42f54;
    border-top: 4px solid #f42f54;
}

.platform__image{
    width: 300px;
    height: 215px;
}