* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
    background-color: #081c8d;
}

.form {
    max-width: 540px;
}

.form__row {
    width: 100%;
}

.form__row._flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__input-wrapper {
    width: 45%;
}

.form__wrap-message {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form__title {
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 1.3;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    margin-bottom: 20px;
}

.form__description {
    color: #97afd5;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    margin-bottom: 35px;
}

.form__label {
    display: block;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #97afd5;
    line-height: 1.6;
    font-family: "Roboto", sans-serif;
    margin-bottom: 5px;
}

.form__input{
    font-family: "Roboto", sans-serif;
    border-radius: 6px;
    border: 1px solid #dbe4f7;
    color: #97afd5;
    max-width: 255px;
    width: 100%;
    padding: 10px 15px;
    line-height: 21px;
    font-size: 14px;
    background-color: transparent;
    transition: all .4s;
}

.form__input._textarea{
    resize: none;
    max-width: 540px;
    width: 100%;
    padding: 10px 15px;
}

.form__input:hover{
    border: 1px solid #f42f54;
}

.form__input:focus{
    border: 1px solid #f42f54;
    outline: transparent;
}

.form__input._textarea:hover{
    border: 1px solid #f42f54;
}

.form__input._textarea:focus{
    border: 1px solid #f42f54;
    outline: transparent;
}

.primary-button {
    font-family: "Roboto", sans-serif;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    background-color:rgb(250, 250, 250, 0);
    line-height: 25px;
    padding: 12px 26px;
    border-radius: 40px;
    text-align: center;
    font-weight: 600;
    border: 2px solid #f42f54;
    background-color: #f42f54;
    cursor: pointer;
    letter-spacing: 2px;
    transition: all 0.5s;
}

.primary-button:hover {
    color: #f42f54;
    background-color: #fff;
    border: 2px solid #fff;
}

.form__primary-button {
    display: block;
    margin-left: auto;
}