* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #121333;
}


.slider-btn {
    background-color: #121333;
    color: #97afd5;
    font-size: 18px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: 1px solid #97afd5;
}

.slider-btn-inactive {
    opacity: 0.4;
}

.slider-btn-inactive:hover{
    cursor: default;
}

.slider-btn-active:hover {
    cursor: pointer;
}
