*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body {
    background-color: #121333;
}

.mvp__wrapper {
    width: 1140px;
    margin: 0 auto;
    padding: 120px 0 120px 0;
}

.mvp__header {
    margin: 0 auto;
    width: 480px;
    padding-bottom: 60px;
}

.mvp__description{
    text-align: center;
    font-family: "Quicksand", sans-serif;
    line-height: 1.3;
    position: relative;
    font-size: 16px;
    color: #97afd5;
    font-weight: 700;
    margin-top: 24px;
    visibility: visible;
    animation-delay: 0.1s;
}

.mvp__button {
    color: #fff;
    font-size: 13px;
    background-color: transparent;
    line-height: 25px;
    padding: 12px 26px;
    border-radius: 40px;
    text-align: center;
    font-weight: 600;
    border: 2px solid #f42f54;
    background-color: #f42f54;
    cursor: pointer;
    letter-spacing: 0.1em;
}

.mvp__button:hover {
    color: #f42f54;
    background-color: #fff;
    border: 2px solid #fff;
    transition:  0.3s ease-in-out;
}

h2{
    font-weight: 700;
    color: #fff;
    font-size: 42px;
    line-height: 1.3;
    font-family: "Roboto", sans-serif;
    position: relative;
    text-align: center;
}

h2:before{
    opacity: 0.2;
    font-size: 124px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    content: 'MVP APPS';
    font-family: "Roboto", sans-serif;
    line-height: .9;
    text-transform: uppercase;
    white-space: nowrap;
    color: #202b47;
}

.mvp__content {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.mvp__content-left {
    width: 540px;
    height: 386px;
    padding: 60px;
}

.mvp__picture {
    width: 420px;
    height: 266px;
}

.mvp__content-right {
    padding: 15px 15px;
}

.mvp__list{
    list-style-type: none;
}

.mvp__item{
    margin-bottom: 30px;
    padding-left: 52px;
    position: relative;
    color: #97afd5;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}


.mvp__item::before{
    position: absolute;
    content: '';
    background-image: url(assets/check.png);
    background-size: cover;
    width: 32px;
    height: 32px;
    top: 0;
    left: 0;
}

