*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(13, 23, 112);
    padding: 20px;
}

.descr{
    position: absolute;
    padding-left: 25px;
}

.descr::before{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    content: '';
    border-radius: 2px;
    background: #a963ff;
    position: absolute;
}

.descr__title{
    font-size: 0.88rem;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 4px;
    color: #97afd5;
    font-family: "Roboto", sans-serif;
}

.descr__text{
    color: #fff;
    line-height: 1.3;
    font-weight: 700;
    font-family: "Quicksand", sans-serif;
}

