*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #121333; 
}

h5{
    font-weight: 700;
    color: #fff;
    font-size: 22px;
    line-height: 1.3;
    font-family: "Roboto", sans-serif;
    position: relative;
    text-align: center;
}

.our-partners__wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding-bottom: 120px;
}

.our-partners__header {
    margin: 0 auto;
    width: 930px;
    padding-bottom: 15px;
}

.our-partners__slide-image {
    text-align: center;
}

.our-partners__picture {
    width: 113px;
    height: 30px;
}

.our-partners__slider {
    padding: 15px;
}

.swiper-container {
    width: 1140px;
    height: 60px;
  }