* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0d121a;
}

.ecosystems{
    padding: 120px 0;
    position: relative;
}

.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.ecosystems__header{
    margin-bottom: 50px;
}

.header {
    padding: 12px;
    font-weight: 700;
    color: #fff;
    font-size: 48px;
    line-height: 1.3;
    font-family: "Roboto", sans-serif;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.header__sub-header {
    position: absolute;
    z-index: -1;
    opacity: 0.06;
    font-size: 111px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: "Roboto", sans-serif;
    line-height: .9;
    text-transform: uppercase;
    white-space: nowrap;
    color: #202b47;   
}

.ecosystems__advantages {
    display: flex;
    justify-content: space-between;
}

.ecosystems__background {
    position: absolute;
    background-image: url(assets/globe-particle.png);
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 1100px;
    width: 100%;
    height: 310px;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ecosystems__advantage:first-child {
    margin-top: 197px;
}

.ecosystems__advantage:last-child {
    margin-top: 184px;
}

.ecosystems__advantage:nth-child(3n+2) {
    margin-top: 73px;
}

.advantage {
    max-width: 255px;
    width: 100%;
    text-align: center;
}

.advantage__title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    margin-bottom: 20px;
}

.advantage__description{
    color: #97afd5;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    position: relative;
}

.advantage__description::after{
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #dbe4f7;
    background: #f42f54;
    left: 50%;
    top: 150%;
    transform: translate(-50%, -50%);
}

.advantage__description::before{
    position: absolute;
    content: '';
    width: 2px;
    height: 95px;
    background: #dbe4f7;
    border-radius: 2px;
    left: 50%;
    top: 159%;
    transform: translate(-50%);
}