*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #121333;
}

.intro-wrapper {
    width: 1140px;
    margin: 0 auto;
    padding: 120px 0 120px 0;
}

.intro-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto 70px;
}

.intro-header__content-left {
    width: 480px;
    height: 380px;
    padding: 15px;
}

.intro-header__title {
    text-align: left;
    font-weight: 700;
    font-family: "Quicksand", sans-serif;
    line-height: 1.3;
    font-size: 26px;
    color: #fff;
    margin-bottom: 18px;
}

.intro-header__description {
    line-height: 1.6;
    text-align: left;
    margin-bottom: 14px;
    font-weight: 400;
    font-size: 18px;
    color: #97afd5;
}

.intro-header__content-right {
    padding: 15px;
    display: flex;
    align-items: center;
}

.intro-header__picture {
    width: 542px;
    height: 344px;
}

.intro-header__button {
    color: #fff;
    font-size: 13px;
    background-color: transparent;
    line-height: 25px;
    padding: 12px 26px;
    border-radius: 40px;
    text-align: center;
    font-weight: 600;
    border: 2px solid #f42f54;
    background-color: #f42f54;
    cursor: pointer;
    letter-spacing: 0.1em;

    margin-top: 20px;
}

.intro-header__button:hover {
    color: #f42f54;
    background-color: #fff;
    border: 2px solid #fff;
    transition:  0.3s ease-in-out;
}

.intro-content__upper {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.intro-content__progress-wrapper {
    max-width: 445px;
    width: 100%;
}

.intro-content__target {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.intro-content__target-item {
    font-size: 12px;
    text-transform: uppercase;
    color: #97afd5;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

.intro-content__highlight {
    font-size: 14px;
    text-transform: capitalize;
    color: #fff;
    font-weight: 500;
    line-height: 1.6;
    font-family: "Roboto", sans-serif;
}

.intro-content__progress-bar {
    border-radius: 2px;
    max-width: 445px;
    width: 100%;
    height: 6px;
    background: rgba(151,175,213,0.3);
    position: relative;
}

.intro-content__progress-bar::after {
    content: '';
    position: absolute;
    border-radius: 2px;
    max-width: 133px;
    width: 100%;
    height: 6px;
    left: 0;
    top: 0;
    background-color: #f42f54;
}

.intro-content__progress-bar::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: #f42f54;
    top: 50%;
    left: 30%;
    z-index: 2;
    transform: translate(-50%, -50%);
}

.intro-content__point {
    color: #97afd5;
    font-size: 11px;
    line-height: 14px;
    font-weight: 500;
    text-transform: uppercase;
    position: absolute;
    top: 30px;
    transform: translateX(-50%);
    padding: 3px 0;
}

.intro-content__point::before {
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -1px;
    content: '';
    width: 2px;
    height: 40px;
    background: rgba(193,206,241,0.5);
}

.intro-content__point._soft {
    left: 25%;
}

.intro-content__point._crowdsale {
    left: 55%;
}

.intro-content__point._hard {
    left: 85%;
}

.intro-content__bonus-title {
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #97afd5;
    line-height: 1.3;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    margin-bottom: 10px;
}

.intro-content__bonus-value {
    color: #fff;
    font-weight: 300;
    font-size: 32px;
    line-height: 1.3;
    font-family: "Roboto", sans-serif;
    margin-bottom: 10px;
}

.intro-content__bonus-ownership {
    font-size: 12px;
    color: #97afd5;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

.countdown {
	display: flex;
	justify-content: center;
	align-items: center;
}

.time-section {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0 30px;
    position: relative;
}

.time-section:first-child {
    padding: 0 30px 0 0;
}

.time-section:last-child {
    padding: 0 0 0 30px;
}

.time-section::before {
    content: ':';
    position: absolute;
    color: #fff;
    font-size: 30px;
    right: 0;
    top: 30%;
    transform: translateY(-50%);
}

.time-section:last-child::before {
	content: none;
}

.intro-content__bonus-end-title {
    font-size: 12px;
    letter-spacing: 1px;
    color: #97afd5;
    line-height: 1.3;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    margin-bottom: 10px;
}

.count {
    color: #fff;
    font-weight: 300;
    font-size: 32px;
    line-height: 1.3;
    font-family: "Roboto", sans-serif;
    margin-bottom: 13px;
}

.units {
	display: block;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 1px;
    text-align: center;
    color: #97afd5;
}

.intro-content__lower {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 148px;
    padding-top: 70px;
    padding-bottom: 40px;
}

.intro-content__links {
    width: 665px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.intro-content__link {
    text-decoration: none;
    color: #97afd5;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 15px;
    transition: 0.3s ease-in-out;
}

.intro-content__link:hover {
    color: #fff;
    transition: 0.3s ease-in-out;
}

.intro-content__link:hover > .intro-content__picture{
    fill: #fff;
    transition: 0.3s ease-in-out;
}

.intro-content__picture {
    width: 38px;
    height: 38px;
    padding: 9px;
    background-color:transparent;
    fill: #97afd5;
    border: 1px solid #fff ;
    border-radius: 50%;
}

.intro-content__picture-description {
    font-size: 14px;
    height: 20px;
    margin-left: 12px;
}

.intro-content__picture-wrapper {
    position: relative;
    width: 38px;
    height: 38px;
}

@keyframes white-circle {
    0% {
        padding: 18px;
    }

    50% {
        border-color: rgba(238, 243, 252, 0.5);
    }

    100% {
        padding: 30px;
        border-color: rgba(238, 243, 252, 0);
    }
}

.intro-content__picture-wrapper::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    padding: 18px;
    border: 1px solid #eef3fc;
    animation: white-circle 1s infinite;
}

.social-media {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    width: 376px;
    list-style-type: none;
}

.social-media__link {
    margin: 3px;
}

.social-media__picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 10px 10px;
    transition: 0.3s ease-in-out;
    fill:#97afd5;
}   

.social-media__picture:hover {
    transition: 0.3s ease-in-out;
    cursor: pointer;
    fill: #f42f54;
    background-color: #fff;
}
