<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>

<body>
    <div class="news-card">
        <div class="news-card-content">
            <div class="news-card-content__description">
                <h5 class="news-card-content__title">Blockchain Global Summit 2019</h5>
                <div class="news-card-content__subtitle">California, United States </div>
            </div>
            <div class="news-card-content__link">Learn more ></div>
        </div>
    </div>
</body>

</html>