*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    margin-top: 250px;
    margin-left: 250px;
    background-color: #121333; 
}

.employee-card {
    width: 240px;
    height: 370px;
}

.employee-card__photo {
    width: 216px;
    height: 234px;
    border-radius: 6px;
}

.employee-card__name {
    color: #fff;
    font-weight: 600;
    font-family: "Quicksand", sans-serif;
    font-size: 22px;

    padding-top: 20px;
    margin-bottom: 8px;
}

.employee-card__post {
    font-size: 14px;
    font-weight: 400;
    color: #97afd5;
}

.card-social-media {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
}

.card-social-media__picture {
    border-radius: 50%;
    padding: 10px 5px;
    transition: 0.3s ease-in-out;
}

.card-social-media__picture:hover {
    transition: 0.3s ease-in-out;
    cursor: pointer;
}