*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #121333; 
}

h2{
    font-weight: 700;
    color: #fff;
    font-size: 42px;
    line-height: 1.3;
    font-family: "Roboto", sans-serif;
    position: relative;
    text-align: center;
}

h2:before{
    opacity: 0.2;
    font-size: 124px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    content: 'OUR TEAM';
    font-family: "Roboto", sans-serif;
    line-height: .9;
    text-transform: uppercase;
    white-space: nowrap;
    color: #202b47;
}

.team{
    padding: 120px 0;
}

.team-header {
    margin: 0 auto;
    width: 480px;
    padding-bottom: 60px;
}

.team-description{
    text-align: center;
    font-family: "Quicksand", sans-serif;
    line-height: 1.3;
    position: relative;
    font-size: 16px;
    color: #97afd5;
    font-weight: 700;
    margin-top: 24px;
    visibility: visible;
    animation-delay: 0.1s;
}

.team-content__buttons {
    padding-top: 40px;
}

.employeers {
    margin: 0 auto;
    width: 1100px;
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
}

.employee-card {
    width: 240px;
    height: 370px;
}

.employee-card.even {
    margin-top: 60px;
}

.employee-card__photo {
    width: 216px;
    height: 234px;
    border-radius: 6px;
}

.employee-card__name {
    color: #fff;
    font-weight: 600;
    font-family: "Quicksand", sans-serif;
    font-size: 22px;

    padding-top: 20px;
    margin-bottom: 8px;
}

.employee-card__post {
    font-size: 14px;
    font-weight: 400;
    color: #97afd5;
}

.card-social-media {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
}

.card-social-media__picture {
    border-radius: 50%;
    padding: 10px 5px;
    transition: 0.3s ease-in-out;
}

.card-social-media__picture:hover {
    transition: 0.3s ease-in-out;
    cursor: pointer;
    padding: 8px 5px;
}

.team-content__btn {
    background-color: #121333;
    color: #97afd5;
    font-size: 18px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: 1px solid #97afd5;
    margin:0 10px;
}

.team-content__buttons {
    text-align: center;
}

.team-content__btn_inactive {
    opacity: 0.4;
}

.team-content__btn_inactive:hover{
    cursor: default;
}

.team-content__btn_active:hover {
    cursor: pointer;
}
