*{
    padding: 0;
    margin: 0;
}
body {
    background-color: #1f2152; 
    margin-left: 200px;
    margin-top: 200px;
}

.social-media {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.social-media__picture {
    border-radius: 50%;
    padding: 10px 10px;
    transition: 0.3s ease-in-out;
}   

.social-media__picture:hover {
    background-color: #fff;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}