*{
    padding: 0;
    margin: 0;
}
body {
    background-color: #1f2152; 
    margin-left: 200px;
    margin-top: 200px;
}

.social-media {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.social-media__link {
    margin: 3px;
}

.social-media__picture {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    padding: 10px 10px;
    transition: 0.3s ease-in-out;
    fill:#97afd5;
}   

.social-media__picture:hover {
    transition: 0.3s ease-in-out;
    cursor: pointer;
    fill: #f42f54;
    background-color: #fff;
}