<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>

    <footer class="footer">
        <div class="footer__container container">
            <div class="footer__wrapper">
                <p class="footer__copyright">COPYRIGHT © 2019 ICO. HANDCRAFTED BY IO.</p>
                <div class="footer__links">
                    <a href="#" class="footer__policy">PRIVACY POLICY</a>
                    <a href="#" class="footer__terms">TERMS OF SALES</a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>