*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(30, 5, 90);
}

.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.footer{
    background-color: rgb(111, 102, 241);
}

.footer__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copyright{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.1em;
    color: #97afd5;
    line-height: 1.6;
    font-weight: 400;
}

.footer__terms, .footer__policy{
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: #97afd5;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transition: all 0.5s;
}

.footer__terms:hover, .footer__policy:hover{
    color: #f42f54;
}

.footer__policy{
    margin-right: 20px;
}