* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #250c80;
    padding: 200px;
    display: flex;
    justify-content: space-around;
}

@keyframes first_round {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}

@keyframes second_round {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(-180deg);}
    100% {transform: rotate(-360deg);}
}

.animate-rounds {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animate-rounds::before {
    position: absolute;
    content: '';
    width: 400px;
    height: 400px;
    border: 4px solid rgba(151,175,213,0.15);
    border-radius: 50%;
    border-bottom: 4px solid #fff;
    border-top: 4px solid #fff;
    animation: first_round 30s linear infinite 0s;
    z-index: -1;
}

.animate-rounds::after {
    position: absolute;
    content: '';
    width: 300px;
    height: 300px;
    border: 4px solid rgba(151,175,213,0.15);
    border-radius: 50%;
    border-right: 4px solid #fff;
    border-left: 4px solid #fff;
    animation: second_round 30s linear infinite 0s;
    z-index: -1;
}

.animate-rounds._pink::after{
    border-right: 4px solid #f42f54;
    border-left: 4px solid #f42f54;
}

.animate-rounds._pink::before{
    border-bottom: 4px solid #f42f54;
    border-top: 4px solid #f42f54;
}

.list-contacts {
    list-style-type: none;
}

.list-contacts__item {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.list-contacts__item:last-child {
    margin-bottom: 0;
}

.list-contacts__link {
    text-decoration: none;
    color: #97afd5;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

.list-contacts__icon {
    width: 38px;
    height: 38px;
    background-color: rgba(151,175,213,0.15);
    border-radius: 50%;
    position: relative;
    margin-right: 20px;
}

.list-contacts__icon svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 17px;
    fill: #97afd5;
}
