*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(37, 12, 128);
    padding: 200px;
}

@keyframes first_round{
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}

@keyframes second_round{
    0% {transform: rotate(0deg);}
    50% {transform: rotate(-180deg);}
    100% {transform: rotate(-360deg);}
}

.faqs__contacts{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faqs__contacts::before{
    position: absolute;
    content: '';
    width: 400px;
    height: 400px;
    border: 4px solid rgba(151,175,213,0.15);
    border-radius: 50%;
    border-bottom: 4px solid #fff;
    border-top: 4px solid #fff;
    animation: first_round 30s linear infinite 0s;
}

.faqs__contacts::after{
    position: absolute;
    content: '';
    width: 300px;
    height: 300px;
    border: 4px solid rgba(151,175,213,0.15);
    border-radius: 50%;
    border-right: 4px solid #fff;
    border-left: 4px solid #fff;
    animation: second_round 30s linear infinite 0s;
}

.faqs__list-contacts{
    list-style-type: none;
}

.faqs__contacts-item{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.faqs__contacts-item:last-child{
    margin-bottom: 0;
}

.faqs__contacts-link{
    text-decoration: none;
    color: #97afd5;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

.faqs__contacts-icon{
    width: 38px;
    height: 38px;
    background-color: rgba(151,175,213,0.15);
    border-radius: 50%;
    position: relative;
    margin-right: 20px;
}

.faqs__contacts-icon svg{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 17px;
    fill: #97afd5;
}
