<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div class="tokens-card">
        <p class="tokens-card__title">Tokens alocate for Public Sale</p>
        <p class="tokens-card__value"><span class="tokens-card__percent">45% </span>(Lockup)</p>
    </div>
</body>

</html>