* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {background-color: rgb(19, 19, 53);}



.complex-tabs {
    display: flex;
    flex-direction: row;
    width: 700px;
    height: 49px;
    position: relative;
}

.complex-tabs::after {
    content: "";
    text-align: inherit;
    width: 280px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-39.5%, -50%);
    border: 1px solid rgba(151,175,213,0.3);;
}

.complex-tabs__first-button {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 700;
    font-size: 14px;
    padding: 14px 22px;
    border-radius: 6px;
    background-color: transparent;
    border: 2px solid rgba(151,175,213,0.3);
    color: #fff;

    position: absolute;
    left: 0;

}

.complex-tabs__second-button {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 700;
    font-size: 14px;
    padding: 14px 22px;
    border-radius: 6px;
    background-color: transparent;
    border: 2px solid rgba(151,175,213,0.3);
    color: #fff;

    position: absolute;
    right: 0;
}

.complex-tabs__first-button:hover, .complex-tabs__second-button:hover {
        cursor: pointer;
        color: #f42f54;
        background: transparent;
        border-color: #f42f54;
        transition: all 0.4s;
}