* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a0964;
    padding: 20px;
}

.advantage {
    max-width: 255px;
    width: 100%;
    text-align: center;
}

.advantage__title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    margin-bottom: 20px;
}

.advantage__description{
    color: #97afd5;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    position: relative;
}

.advantage__description::after{
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #dbe4f7;
    background: #f42f54;
    left: 50%;
    top: 150%;
    transform: translate(-50%, -50%);
}

.advantage__description::before{
    position: absolute;
    content: '';
    width: 2px;
    height: 95px;
    background: #dbe4f7;
    border-radius: 2px;
    left: 50%;
    top: 159%;
    transform: translate(-50%);
}

