body {
    background-color: #3611bb;
}

ul {
    list-style-type: none;
}

.header-menu {
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.header-menu__list {
    list-style-type: none;
}

.header-menu__item {
    display: inline;
    margin-right: 25px;
}

.header-menu__link {
    text-decoration: none;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    line-height: 18px;
    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: linear;
    position: relative;
}

.header-menu__link:hover {
    color:#f42f54;
}

.header-menu__btn {
    font-size: 12px;
    line-height: 24px;
    font-weight: 500;
    padding: 8px 15px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    min-width: 120px;
    max-width: 100%;
    border: 2px solid #f42f54;
    border-radius: 44px;
    letter-spacing: 3px;
    text-decoration: none;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: .3s;
    transition-timing-function: linear;
}

.header-menu__btn:hover {
    background-color: #f42f54;
}