<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="documents__wrapper">
        <div class="documents__block">
            <div class="documents__image"></div>
            <h3 class="documents__subtitle">White Paper</h3>
            <p class="documents__year">(2019)</p>
            <a href="" class="documents__link">Download</a>
            <p class="documents__language">ENGLISH</p>
        </div>
        <div class="documents__block">
            <div class="documents__image"></div>
            <h3 class="documents__subtitle">Two Pager</h3>
            <p class="documents__year">(2018)</p>
            <a href="" class="documents__link">Download</a>
            <p class="documents__language">ENGLISH</p>
        </div>
        <div class="documents__block">
            <div class="documents__image"></div>
            <h3 class="documents__subtitle">One Pager</h3>
            <p class="documents__year">(2018)</p>
            <a href="" class="documents__link">Download</a>
            <p class="documents__language">ENGLISH</p>
        </div>
        <div class="documents__block">
            <div class="documents__image"></div>
            <h3 class="documents__subtitle">Presentation</h3>
            <p class="documents__year">(2018)</p>
            <a href="" class="documents__link">Download</a>
            <p class="documents__language">ENGLISH</p>
        </div>
    </div>
</body>
</html>