* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1b239b;
    padding: 20px;
}

.documents-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.documents-list__block {
    max-width: 255px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.documents-list__block:hover .documents-list__image {
    transform: translateY(-10px);
}

.documents-list__image {
    width: 175px;
    height: 237px;
    margin-bottom: 20px;
    border-radius: 5%;
    transition: transform .3s linear;
}

.documents-list__title {
    color: #fff;
    line-height: 1.3;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    margin-bottom: 2px;
}

.documents-list__year {
    color: #fff;
    font-weight: 100;
    font-family: "Roboto", sans-serif;
    margin-bottom: 15px;
}

.documents-list__link-wrapper {
    margin-bottom: 15px;
}

.documents-list__link {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-size: 18px;
    line-height: 19px;
    padding: 8px 15px;
    border-radius: 4px;
    color: #fff;
    background: #f42f54;
    transition-property: color, background-color;
    transition-duration: .3s;
}

.documents-list__link:hover {
    background-color: #fff;
    color: #f42f54;
}

.documents-list__language {
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
    font-weight: 300;
    color: #97afd5;
}