*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #121333; 
}

h2{
    font-weight: 700;
    color: #fff;
    font-size: 48px;
    line-height: 1.3;
    font-family: "Roboto", sans-serif;
    position: relative;
    text-align: center;
}

h2:before{
    opacity: 0.2;
    font-size: 124px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    content: 'ADVISORS';
    font-family: "Roboto", sans-serif;
    line-height: .9;
    text-transform: uppercase;
    white-space: nowrap;
    color: #202b47;
}

.board-member__wrapper {
    width: 1110px;
    margin: 0 auto;
    padding: 120px 0 70px 0;
}

.board-member__header {
    margin: 0 auto;
    width: 540px;
    padding-bottom: 60px;
}

.board-member__description {
    text-align: center;
    font-family: "Quicksand", sans-serif;
    line-height: 1.3;
    position: relative;
    font-size: 16px;
    color: #97afd5;
    font-weight: 700;
    margin-top: 24px;
    visibility: visible;
    animation-delay: 0.1s;
}

.board-member__list {
    display: flex;
    flex-direction: row;
}

.board-member-card {
    text-align: left;
    width: 145px;
    height: 289px;
    margin: 0 25px 30px 25px;
}

.board-member-card__photo {
    position: relative;
}

.board-member-card__photo::after {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    height: 141px;
    width: 131px;
    background: rgba(244,47,84,0.4);
    border-radius: 6px;
    z-index: 1;
}

.board-member-card__picture {
    width: 131px;
    height: 141px;
    border-radius: 6px;
}

.board-member-card__name {
    width: 100%;
    color: #fff;
    font-weight: 600;
    font-family: "Quicksand", sans-serif;
    font-size: 15px;

    padding-top: 20px;
    margin-bottom: 8px;
}

.board-member-card.even {
    margin-top: 60px;
}

.board-member-card__post {
    width: 100%;
    font-size: 13px;
    font-weight: 400;
    color: #97afd5;
}

.card-social-media {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
}

.card-social-media__picture {
    border-radius: 50%;
    padding: 10px 5px;
    transition: 0.3s ease-in-out;
}

.card-social-media__picture:hover {
    transition: 0.3s ease-in-out;
    cursor: pointer;
}